@media screen and (min-width: 700px) {
    .container-img-header {
        height: 320px;
    }
    .container-img-header__paragraph {
        font-size: 1.8rem;
    }
    .container-nav-link, .main-footer {
        font-size: 1.2rem;
    }
    .main {
        padding: 1.7em;
    }
    .container-footer-link__icon {
        font-size: 1.2rem;
    }
    .container-footer-link {
        width: 40px;
        height: 40px;
    }
    .container-article__img {
        display: block;
        width: 55%;
        height: 195px;
        margin-right: auto;
        margin-left: auto;
    }
    .mensaje_error {
        font-size: 1.1rem;
        padding: .8em;
    }
    .container-form-login__input, .container-form-login__btn {
        height: 45px;
    }
    .container-form-login__input {
        margin-top: 1.4em;
    }
    .container-links-login {
        margin-top: .8em;
    }
    .container-form-login__btn {
        font-size: 1.1rem;
    }
}