.main {
    padding-bottom: 3em;
}

.container-biography-author {
    text-align: center;
    padding-top: 1.5em;
}

.container-biography-author__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container-biography-author__paragraph--font {
    font-style: italic;
}

.container-contact-author {
    display: flex;
    justify-content: center;
    gap: .7em;
}

.container-link-contact-author__img {
    width: 38px;
}

.container-articles-author {
    margin-top: 3em;
}