.container-label-categories {
  display: block;
  margin-bottom: 1em;
  font-size: 0.9rem;
}
.container-label-categories__input, .container-label-categories__select {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 1em;
  outline: none;
  border: none;
  border-radius: 1em;
  padding-left: 0.8em;
  background-color: rgba(231, 224, 224, 0.454);
}

.container-form-categories__btn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 1em;
  color: white;
  background-color: #0C3C26;
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}
.container-form-categories__btn:hover {
  color: lime;
}