.container-label-register {
    display: block;
    margin-bottom: 1em;
    font-size: .9rem;
}

.container-label-register__input,
.container-label-register__select,
.container-label-register__textarea {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 1em;
    outline: none;
    border: none;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    padding-left: .8em;
    background-color: rgba(231, 224, 224, 0.454);
}

.container-label-register__textarea {
    resize: none;
    height: 150px;
    padding: 1em;
}

.container-form-register__btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    color: white;
    background-color: var(--bgcolor);
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
}

.container-label-register__image {
    width: 100%;
    font-size: .9rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.errorlist {
    padding: 0;
    color: red;
    font-size: .8rem;
    list-style: none;
    margin-top: .5em;
    padding-left: .2em;
}

.container-label-register__span {
    font-size: 1.8rem;
    position: relative;
    top: .4em;
}