:root {
    --font: 'Raleway', sans-serif;
    --bgcolor: #0C3C26;
}

body {
    padding-top: 4em;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ------------------------ESTILOS DEL HEADER------------------------ */
.nav-main {
    width: 100%;
    height: 70px;
    background-color: var(--bgcolor);
    position: fixed;
    top: 0;
    z-index: 500;
}
.container-nav-main {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
}
.container-nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
}
.container-nav-link__icon {
    margin-right: .3em;
}
.container-nav-link__span {
    color: lime;
    margin-right: .3em;
}

.container-img-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    position: relative;
    text-align: center;
}
.container-img-header__paragraph {
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
}
.container-picture-header {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.container-picture-header__img {
    width: 100%;
    height: 100%;
}

/* ------------------------ESTILOS DEL MAIN------------------------ */
.main {
    padding: 1em;
}
.container-article {
    border-bottom: 1px solid rgb(195, 195, 195);
}
.container-title-article {
    font-size: 1.1rem;
}
.container-title-article__link:hover {
    color: lime;
}
.container-title-article__link {
    color: black;
}
.container-article__img {
    width: 100%;
    height: 170px;
}
.container-article__paragraph {
    height: 105px;
    overflow: hidden;
    line-height: 1.3em;
}
.container-article-author, .container-article__paragraph {
    font-size: 1rem;
}

.container-article-author a {
    color: inherit;
}

.container-article-author__span {
    font-weight: 700;
}
.container-article__link {
    display: block;
    width: 110px;
    height: 40px;
    color: white;
    line-height: 40px;
    border-radius: .4em;
    background-color: var(--bgcolor);
    text-align: center;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    font-size: .9rem;
    margin-bottom: 1.4em;
}
.container-list-categories {
    padding: 0;
    list-style: none;
}
.container-element-list-categories {
    display: flex;
    align-items: center;
}
.container-element-list-categories__link {
    color: black;
    font-size: .9rem;
}
.container-element-list-categories__link:hover {
    color: lime;
}
.container-element-list-categories__icon {
    width: 1.1em;
    margin-right: .4em;
}
.container-form-search-article__input {
    width: 100%;
    height: 40px;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    padding-left: 1em;
    outline: none;
    border: 1px solid rgb(207, 207, 207);
    margin-bottom: 1em;
}
.container-form-search-article__btn {
    width: 100px;
    height: 40px;
    color: white;
    background-color: var(--bgcolor);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border: none;
    font-size: .9rem;
}
.mensaje_error, .mensaje_exito {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: .9rem;
    border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    -ms-border-radius: 0.7em;
    -o-border-radius: 0.7em;
    padding: .5em;
}
.mensaje_error {
    background-color: #f8d7da;
    border-color: #f5c2c7;
    color: #842029;
}
.mensaje_exito {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.mensaje_error__icon, .mensaje_exito__icon {
    margin-right: .4em;
    font-size: 1.8rem;
}
.container-paginator-articles {
    height: 40px;
    margin-top: 1.5em;
}
.container-list-paginator-articles {
    display: flex;
    height: 100%;
    padding: 0;
    list-style: none;
    font-size: .9rem;
}
.container-element-list-paginator__link {
    color: var(--bgcolor);
    line-height: 40px;
}
.container-element-list-paginator {
    width: 25px;
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
}
.container-element-list-paginator--width {
    width: 70px;
    height: 100%;
}
.container-element-list-paginator--active, .container-element-list-paginator__link--active {
    background-color: var(--bgcolor);
    color: white;
    border: none;
}
.container-element-list-paginator__link--deactivate {
    color: gray;
    pointer-events: none;
    cursor: default;
}
.container-nav-link__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: .6em;
    background-color: white;
}

/* ------------------------ESTILOS DEL FOOTER------------------------ */
.main-footer {
    width: 100%;
    height: 57px;
    background-color: var(--bgcolor);
    color: white;
    text-align: center;
    font-size: 1rem;
    position: relative;
    margin-top: auto;
}
.main-footer__paragraph {
    line-height: 57px;
    margin: 0;
}

.main-footer__paragraph a {
    color: inherit;
}

.container-footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: lime;
    color: white;
    position: absolute;
    top: -1em;
    right: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container-footer-link__icon {
    font-size: 1rem;
}