@use '../helpers/mixins' as *;
@use '../helpers/placeholders' as *;
@use '../config/config' as *;


.container-categories {
    margin-top: 2em;

    &__title {
        font-size: $font-size-title-movil;
    }

    @include media-query(1000px) {
        width: 28%;

        &__title {
            margin-top: 0;
            margin-bottom: 1.3em;
            font-size: $font-size-title-tablet;
        }
    }

    @include media-query(1200px) {
        width: 23%;
    }

    @include media-query(1600px) {
        width: 20%;
    }
}

.container-list-categories {
    padding: 0;
    list-style: none;
    font-size: .9rem;

    @include media-query(1000px) {
        font-size: .97rem;
    }
}

.container-element-list-categories {
    @include flex(null, initial, center);

    &__link {
        color: black;
    }

    &__link:hover {
        @extend %btn-form-hover;
    }

    &__icon {
        width: 1.1em;
        margin-right: .4em;
    }
}

.container-form-search-article {
    margin-top: 1.7em;
    font-size: .9rem;

    &__input {
        @include input-formulario($margin-top: 0, $padding-left: 1em, $bg-color: transparent);
        border: 1px solid $color-border-search-article;
        margin-bottom: 1em;
    }

    &__btn {
        @include boton-formulario($margin-top: 0, $margin-bottom: 0);
    }

    &__btn:hover {
        @extend %btn-form-hover;
    }

    @include media-query(700px) {
        max-width: 330px;
    }

    @include media-query(1000px) {
        font-size: .97rem;
        max-width: 240px;

        &__btn,
        &__input {
            font-size: inherit;
            height: 44px;
        }
    }

    @include media-query(1400px) {
        max-width: 260px;
    }
}