{% extends 'mails/base_email.html' %}

{% block content %}
<p style="font-size: .9rem;">
    Hola {{usuario}}, ¿olvidaste tu contraseña?, ¡No hay problema! cambia tu contraseña pulsando el siguiente botón:
</p>
<p style="font-size: .9rem;">
    <a href="{{protocolo}}://{{dominio}}{% url 'password_reset_confirm' uidb64=uuid token=token %}" style="text-decoration: none;background-color: #0C3C26;color:white;height: 37px;border-radius: .7em;display: block;line-height: 37px;text-align: center;width: 180px;margin-left:auto;margin-right: auto;">
        Crear nueva contraseña
    </a>
</p>
<p style="font-size: .9rem;">
    Consejos de seguridad:
</p>

<ul>
    <li>
        No compartas nunca tu contraseña con otras personas.
    </li>
    <li>
        Crea contraseñas difíciles de adivinar y nunca utilices información personal.
    </li>
    <li>
        Asegúrate de incluir mayúsculas, minúsculas, números y símbolos.
    </li>
    <li>
        Utiliza contraseñas diferentes para cada cuenta que tengas en internet.
    </li>
</ul>

<p style="font-size: .9rem;margin-bottom: 0;">
    Si no solicitaste el cambio de contraseña, ignora este correo. Tu contraseña continuará siendo la misma.
</p>
{% endblock %}