{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Actualizar datos</title>
{% endblock %}

{% block content %}
<main class="main main-update-data-user">
    <section>
        <h2>Actualizar datos personales</h2>

        {% include 'snippets/mensajes.html' %}

        <form method="POST" enctype="multipart/form-data" class="container-form-data-user-update">
            {% csrf_token %}

            <label class="container-label-update-data-user">
                Nombre <span class="container-label-update-data-user__span">*</span>
                {{formulario.first_name}}
                {% if formulario.first_name.errors %}
                {{formulario.first_name.errors}}
                {% endif %}
            </label>

            <label class="container-label-update-data-user">
                Apellido <span class="container-label-update-data-user__span">*</span>
                {{formulario.last_name}}
                {% if formulario.last_name.errors %}
                {{formulario.last_name.errors}}
                {% endif %}
            </label>

            <label class="container-label-update-data-user">
                Genero <span class="container-label-update-data-user__span">*</span>
                {{formulario.gender}}
                {% if formulario.gender.errors %}
                {{formulario.gender.errors}}
                {% endif %}
            </label>

            <label class="container-label-update-data-user">
                Imagen de perfil
                {{formulario.image}}
                {% if formulario.image.errors %}
                {{formulario.image.errors}}
                {% endif %}
            </label>

            <label class="container-label-update-data-user">
                Ciudad <span class="container-label-update-data-user__span">*</span>
                {{formulario.city}}
                {% if formulario.city.errors %}
                {{formulario.city.errors}}
                {% endif %}
            </label>

            <label class="container-label-update-data-user">
                Biografia <span class="container-label-update-data-user__span">*</span>
                {{formulario.biography}}
                {% if formulario.biography.errors %}
                {{formulario.biography.errors}}
                {% endif %}
            </label>

            <label class="container-label-update-data-user">
                Linkedin
                {{formulario.linkedin}}
                {% if formulario.linkedin.errors %}
                {{formulario.linkedin.errors}}
                {% endif %}
            </label>

            <label class="container-label-update-data-user">
                Twitter
                {{formulario.twitter}}
                {% if formulario.twitter.errors %}
                {{formulario.twitter.errors}}
                {% endif %}
            </label>

            <label class="container-label-register">
                Correo <span class="container-label-register__span">*</span>
                {{formulario.email}}
                {% if formulario.email.errors %}
                {{formulario.email.errors}}
                {% endif %}
            </label>

            <button class="container-form-data-user-update__btn">
                Actualizar
            </button>
        </form>
    </section>

    {% include 'snippets/aside_contacto.html' %}
</main>
{% endblock %}