{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Cambiar contraseña</title>
{% endblock %}

{% block content %}
<main class="main main-change-password">
    <section class="container-section-form-change-password">
        <h2>Cambiar contraseña</h2>

        {% include 'snippets/mensajes.html' %}

        <form method="POST" class="container-form-change-password">
            {% csrf_token %}

            <label class="container-label-change-password">
                Contraseña antigua <span class="container-label-change-password__span">*</span>
                {{form.old_password}}
                {% if form.old_password.errors %}
                {{form.old_password.errors}}
                {% endif %}
            </label>

            <label class="container-label-change-password">
                Contraseña nueva <span class="container-label-change-password__span">*</span>
                {{form.new_password1}}
                {% if form.new_password1.errors %}
                {{form.new_password1.errors}}
                {% endif %}
            </label>

            <label class="container-label-change-password">
                Contraseña nueva (confirmación): <span class="container-label-change-password__span">*</span>
                {{form.new_password2}}
                {% if form.new_password2.errors %}
                {{form.new_password2.errors}}
                {% endif %}
            </label>

            <button class="container-form-change-password__btn">
                Cambiar contraseña
            </button>
        </form>
    </section>

    {% include 'snippets/aside_contacto.html' %}
</main>
{% endblock %}