{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/contacto.css' %}">
<title>Contacto</title>
{% endblock %}

{% block content %}
<main class="main">
    {% include 'snippets/mensajes.html' %}

    <section class="container-section-contact">
        <h2>Contacto</h2>

        <form method="POST" class="container-form-contact">
            {% csrf_token %}

            <label class="container-label-contact">
                Nombres <span class="container-label-contact__span">*</span>
                {{formulario.nombre}}
                {% if formulario.nombre.errors %}
                {{formulario.nombre.errors}}
                {% endif %}
            </label>

            <label class="container-label-contact">
                Asunto <span class="container-label-contact__span">*</span>
                {{formulario.asunto}}
                {% if formulario.asunto.errors %}
                {{formulario.asunto.errors}}
                {% endif %}
            </label>

            <label class="container-label-contact">
                Correo <span class="container-label-contact__span">*</span>
                {{formulario.correo}}
                {% if formulario.correo.errors %}
                {{formulario.correo.errors}}
                {% endif %}
            </label>

            <label class="container-label-contact">
                Mensaje <span class="container-label-contact__span">*</span>
                {{formulario.mensaje}}
                {% if formulario.mensaje.errors %}
                {{formulario.mensaje.errors}}
                {% endif %}
            </label>

            <button class="container-form-contact__btn">Enviar</button>
        </form>
    </section>
</main>
{% endblock %}