{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Nueva publicacion</title>
{% endblock %}

{% block content %}
<main class="main">
    <section>
        <h2>Editar publicacion</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label>
                Nombre del articulo
                {{form.name}}
                {% if form.name.errors %}
                    {{form.name.errors}}
                {% endif %}
            </label>

            <label>
                Imagen del articulo
                {{form.image}}
                {% if form.image.errors %}
                    {{form.image.errors}}
                {% endif %}

                Imagen actual
                {% if articulo.has_image %}
                <img src="{{articulo.image.url}}" alt="Foto articulo {{articulo}}" decoding="async" loading="lazy"
                    class="container-label-articles__img">
                {% else %}
                <p>No tiene imagen</p>
                {% endif %}
            </label>

            <label>
                Categoria del articulo
                {{form.category}}
                {% if form.category.errors %}
                    {{form.category.errors}}
                {% endif %}
            </label>

            <label>
                Descripcion del articulo
                {{form.resume}}
                {% if form.resume.errors %}
                    {{form.resume.errors}}
                {% endif %}
            </label>

            <label>
                Contenido del articulo
                {{form.content}}
                {% if form.content.errors %}
                    {{form.content.errors}}
                {% endif %}
            </label>

            <label>
                Estado
                {{form.state}}
                {% if form.state.errors %}
                    {{form.state.errors}}
                {% endif %}
            </label>

            {{form.author}}

            <button>Editar articulo</button>
        </form>
    </section>

    {% include 'snippets/aside_contacto.html' %}
</main>
{% endblock %}