{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
{% endblock %}

{% block content %}
    <main class="main">
        <section class="container-login">
            <h2 class="container-login__title">Iniciar sesion</h2>

            {% include 'snippets/mensajes.html' %}

            <form method="POST" class="container-form-login">
                {% csrf_token %}

                {{formulario.correo}}
        
                {{formulario.contrasena}}

                <div class="container-links-login">
                    <a href="{% url 'Users:register' %}" class="container-links-login__link">
                        Crear cuenta
                    </a>
                    <a href="{% url 'reset_password' %}" class="container-links-login__link">
                        Recuperar contraseña
                    </a>
                </div>
        
                <button class="container-form-login__btn">Iniciar sesion</button>
            </form>
        </section>

        {% include 'snippets/aside_contacto.html' %}
    </main>
{% endblock %}