{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Mis publicaciones</title>
{% endblock %}

{% block content %}
<main class="main">
    <section class="section-my-articles">
        <h2 class="section-my-articles__title">Mis publicaciones</h2>

        {% include 'snippets/mensajes.html' %}

        <a href="{% url 'Users:new-article' %}">Publicar un nuevo articulo</a>

        {% include 'admin/snippets/busqueda.html' %}

        <table class="container-table-my-articles">
            <thead>
                <tr class="container-thead-my-articles">
                    <th class="container-thead-my-articles__column">
                        #
                    </th>
                    <th class="container-thead-my-articles__column">
                        Nombre
                    </th>
                    <th class="container-thead-my-articles__column">
                        Estado
                    </th>
                    <th class="container-thead-my-articles__column">
                        Fecha de publicacion
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for articulo in articulos %}
                <tr class="container-row-table">
                    <td class="container-column-table">
                        <a href="{% url 'Users:edit-article' articulo.slug %}" title="Editar articulo">
                            {{ forloop.counter }}
                        </a>
                    </td>
                    <td class="container-column-table">
                        <a href="{% url 'Blog:articulo' articulo.slug %}">
                            {{ articulo }}
                        </a>
                    </td>
                    <td class="container-column-table">
                        {{ articulo.state }}
                    </td>
                    <td class="container-column-table">
                        {{ articulo.create | date:"j F Y" }}
                    </td>
                </tr>
                {% empty %}
                <tr class="container-row-table">
                    <td class="container-column-table">
                        No hay articulos publicados
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'snippets/paginacion_articulos.html' %}
    </section>

    {% include 'snippets/aside_contacto.html' %}
</main>
{% endblock %}