{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Nueva publicacion</title>
{% endblock %}

{% block content %}
<main class="main">
    <section>
        <h2>Nueva publicacion</h2>
        <form method="POST" action="{% url 'Users:new-article' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <label>
                Nombre del articulo
                {{form.name}}
                {% if form.name.errors %}
                    {{form.name.errors}}
                {% endif %}
            </label>

            <label>
                Imagen del articulo
                {{form.image}}
                {% if form.image.errors %}
                    {{form.image.errors}}
                {% endif %}
            </label>

            <label>
                Categoria del articulo
                {{form.category}}
                {% if form.category.errors %}
                    {{form.category.errors}}
                {% endif %}
            </label>

            <label>
                Descripcion del articulo
                {{form.resume}}
                {% if form.resume.errors %}
                    {{form.resume.errors}}
                {% endif %}
            </label>

            <label>
                Contenido del articulo
                {{form.content}}
                {% if form.content.errors %}
                    {{form.content.errors}}
                {% endif %}
            </label>

            <label>
                Estado
                {{form.state}}
                {% if form.state.errors %}
                    {{form.state.errors}}
                {% endif %}
            </label>

            {{form.author}}

            <button>Agregar nuevo articulo</button>
        </form>
    </section>

    {% include 'snippets/aside_contacto.html' %}
</main>
{% endblock %}