{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Gestionar categorias</title>
{% endblock %}

{% block content %}
<main class="main">
    <section class="section-list-categories-admin">
        <h2 class="section-list-categories-admin__title">Gestionar categorias</h2>

        {% include 'snippets/mensajes.html' %}

        <a href="{% url 'Admin:new-category' %}" class="section-list-categories-admin__link">
            Agregar nueva categoria
        </a>

        {% include 'admin/snippets/busqueda.html' %}

        <table class="container-table-categories">
            <thead>
                <tr class="container-thead-categories">
                    <th class="container-thead-categories__column">
                        #
                    </th>
                    <th class="container-thead-categories__column">
                        Nombre
                    </th>
                    <th class="container-thead-categories__column">
                        Estado
                    </th>
                    <th class="container-thead-categories__column">
                        Fecha de modificacion
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr class="container-row-table">
                    <td class="container-column-table">
                        <a href="{% url 'Admin:edit-category' categoria.slug %}">   {{forloop.counter}}
                        </a>
                    </td>
                    <td class="container-column-table">
                        <a href="{% url 'Blog:categoria' categoria.slug %}">
                            {{categoria}}
                        </a>
                    </td>
                    <td class="container-column-table">
                        {{categoria.state}}
                    </td>
                    <td class="container-column-table">
                        {{categoria.modified | date:"j F Y"}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'snippets/paginacion.html' with registros=categorias %}
    </section>
</main>
{% endblock %}