{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Nueva categoria</title>
{% endblock %}

{% block content %}
<main class="main">
    <section>
        <h2>Nueva categoria</h2>

        <form method="post" class="container-form-categories">
            {% csrf_token %}

            <label class="container-label-categories">
                Nombre categoria <span>*</span>
                {{form.name}}
                {% if form.name.errors %}
                {{form.name.errors}}
                {% endif %}
            </label>

            <label class="container-label-categories">
                Estado de la categoria
                {{form.state}}
                {% if form.state.errors %}
                {{form.state.errors}}
                {% endif %}
            </label>

            <button class="container-form-categories__btn">
                Crear nueva categoria
            </button>
        </form>
    </section>
</main>
{% endblock %}