{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Comentarios</title>
{% endblock %}

{% block content %}
<main class="main">
    <section>
        <h2>Nueva ciudad</h2>

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Articulo</th>
                    <th>Autor</th>
                    <th>Comentarios</th>
                </tr>
            </thead>
            <tbody>
                {% for articulo in articulos %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{articulo.article__name}}</td>
                    <td>
                        {{articulo.article__author__first_name.split | first}}
                        {{articulo.article__author__last_name.split | first}}
                    </td>
                    <td>{{articulo.total}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}