{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Comentarios</title>
{% endblock %}

{% block content %}
<main class="main">
    <section class="section-list-comments-by-article-admin">
        <h2 class="section-list-comments-by-article-admin__title">
            Comentarios articulo: {{articulo}}
        </h2>

        {% include 'snippets/mensajes.html' %}

        <p>
            <i class="fa-solid fa-circle-info" aria-hidden="true"></i>
            Para editar un comentario simplemente de clic en el numero del comentario
        </p>

        {% include 'admin/snippets/busqueda.html' %}

        <table class="container-table-comments-by-article">
            <thead>
                <tr class="container-thead-comments-by-article">
                    <th class="container-thead-comments-by-article__column">
                        #
                    </th>
                    <th class="container-thead-comments-by-article__column">
                        Autor
                    </th>
                    <th class="container-thead-comments-by-article__column">
                        Estado
                    </th>
                    <th class="container-thead-comments-by-article__column">
                        Fecha
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for comentario in comentarios %}
                <tr class="container-row-table">
                    <td class="container-column-table">
                        <a href="{% url 'Admin:edit-comment' comentario.id_comment articulo.slug %}">
                            {{forloop.counter}}
                        </a>
                    </td>
                    <td class="container-column-table">
                        <a href="{% url 'Users:author' comentario.author.slug %}">
                            {{comentario.author.get_short_name}}
                        </a>
                    </td>
                    <td class="container-column-table">
                        {{comentario.state}}
                    </td>
                    <td class="container-column-table">
                        {{comentario.create | date:"j F Y"}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}