{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Editar comentario</title>
{% endblock %}

{% block content %}
<main class="main main-edit-comment-admin">
    <section>
        <h2>Editar comentario</h2>

        <form method="post" class ="container-form-edit-comment-admin">
            {% csrf_token %}

            <label class="container-label-edit-comment-admin">
                Autor <span class="container-label-edit-comment-admin__span">*</span>
                {{form.author}}
                {% if form.author.errors %}
                    {{form.author.errors}}
                {% endif %}
            </label>

            <label class="container-label-edit-comment-admin">
                Articulo <span class="container-label-edit-comment-admin__span">*</span>
                {{form.article}}
                {% if form.article.errors %}
                    {{form.article.errors}}
                {% endif %}
            </label>

            <label class="container-label-edit-comment-admin">
                Contenido <span class="container-label-edit-comment-admin__span">*</span>
                {{form.content}}
                {% if form.content.errors %}
                    {{form.content.errors}}
                {% endif %}
            </label>

            <label class="container-label-edit-comment-admin">
                Estado <span class="container-label-edit-comment-admin__span">*</span>
                {{form.state}}
                {% if form.state.errors %}
                    {{form.state.errors}}
                {% endif %}
            </label>

            <button class="container-form-edit-comment-admin__btn">
                Editar comentario
            </button>
        </form>
    </section>
</main>
{% endblock %}