<div class="container-img-header">
    <picture class="container-picture-header">
        <source srcset="https://res.cloudinary.com/dpxek6oka/image/upload/v1644010187/Proyecto%20django-blog/laptop_rcnkkw.webp" media="(min-width: 1200px)" class="container-picture-header__img">

        <source srcset="https://res.cloudinary.com/dpxek6oka/image/upload/v1644010187/Proyecto%20django-blog/tablet_mjew5y.webp" media="(min-width: 700px)" class="container-picture-header__img">

        <img src="https://res.cloudinary.com/dpxek6oka/image/upload/v1644010187/Proyecto%20django-blog/celular_q4lmis.webp" class="container-picture-header__img">
    </picture>
    <p class="container-img-header__paragraph">{{titulo}}</p>
</div>