@use '../helpers/placeholders' as *;
@use '../helpers/mixins' as *;
@use '../config/config' as *;

.main-contact {
    @extend %main-forms;
}

.container-section-contact {
    &__title {
        font-size: $font-size-title-movil;
    }

    @include media-query(1000px) {
        &__title {
            font-size: $font-size-title-tablet;
        }
    }

    @include media-query(1400px) {
        &__title {
            font-size: $font-size-title-desktop;
        }
    }
}

.container-label-contact {
    @extend %label-form;

    &__input,
    &__select,
    &__textarea {
        @extend %input-form;
    }

    &__textarea {
        @extend %textarea-form;
    }

    &__span {
        @extend %span-label-forms;
    }
}

.container-form-contact {
    margin-bottom: 1em;

    &__btn {
        @extend %btn-form;
    }

    &__btn:hover {
        @extend %btn-form-hover;
    }
}