<article class="container-article">
    <h3 class="container-title-article">
        <a href="{% url 'Blog:articulo' articulo.slug %}" class="container-title-article__link">
            {{articulo.name}}
        </a>
    </h3>
    <img src="{{articulo.image.url}}" class="container-article__img" loading="lazy" decoding="async">
    <p class="container-article-author">
        <span class="container-article-author__span">Autor: </span>
        <a href="{% url 'Users:author' articulo.author.slug %}">
            {{articulo.author.get_short_name}}
        </a>
    </p>
    <p class="container-article__paragraph">{{articulo.content}}</p>

    <div class="container-info-likes container-info-likes--position">
        <p class="container-info-likes__paragraph">
            <i class="fa-solid fa-thumbs-up" aria-hidden="true"></i>
            {{articulo.quantity_likes}}
        </p>
        
        <p class="container-info-likes__paragraph"> 
            <i class="fa-solid fa-message" aria-hidden="true"></i>
            {{articulo.quantity_comments}}
        </p>
    </div>

    <a href="{% url 'Blog:articulo' articulo.slug %}" class="container-article__link">Leer mas</a>
</article>