<h2 class="container-categories__title">Categorias</h2>
{% for categoria in categorias %}
    <ul class="container-list-categories">
        <li class="container-element-list-categories">
            <img src="https://res.cloudinary.com/dpxek6oka/image/upload/v1651458094/Proyecto%20django-blog/rocket_krc3am.webp" alt="Imagen de un cohete" aria-hidden="true" class="container-element-list-categories__icon" loading="lazy">
            <a href="{% url 'Blog:categoria' categoria.slug %}" class="container-element-list-categories__link">
                    {{categoria}}
            </a>
        </li>
    </ul>
{% endfor %}