{% if articulos.has_other_pages %}
    <article class="container-paginator-articles">
            <ul class="container-list-paginator-articles">
                <li class="container-element-list-paginator container-element-list-paginator--width">
                    {% if articulos.has_previous %}
                            {% if request.GET.q %}
                                <a href="?q={{request.GET.q}}&page={{articulos.previous_page_number}}" class="container-element-list-paginator__link">
                                    Anterior
                                </a>
                            {% else %}
                                <a href="?page={{articulos.previous_page_number}}" class="container-element-list-paginator__link">
                                    Anterior
                                </a>
                            {% endif %}
                    {% else %}
                            <a href="#" class="container-element-list-paginator__link container-element-list-paginator__link--deactivate">
                                Anterior
                            </a>
                    {% endif %}
                </li>
                        
                {% for i in paginacion.page_range %}
                    {% if articulos.number == i %}
                        {% if request.GET.q %}
                            <li class="container-element-list-paginator container-element-list-paginator--active">
                                <a href="?q={{request.GET.q}}&page={{i}}" class="container-element-list-paginator__link container-element-list-paginator__link--active">
                                    {{i}}
                                </a>
                            </li>
                        {% else %}
                            <li class="container-element-list-paginator container-element-list-paginator--active">
                                <a href="?page={{i}}" class="container-element-list-paginator__link container-element-list-paginator__link--active">
                                    {{i}}
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if request.GET.q %}
                            <li class="container-element-list-paginator">
                                <a href="?q={{request.GET.q}}&page={{i}}" class="container-element-list-paginator__link">
                                    {{i}}
                                </a>
                            </li>
                        {% else %}
                            <li class="container-element-list-paginator">
                                <a href="?page={{i}}" class="container-element-list-paginator__link">
                                    {{i}}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <li class="container-element-list-paginator container-element-list-paginator--width ">
                {% if articulos.has_next %}
                    {% if request.GET.q %}
                        <a href="?q={{request.GET.q}}&page={{articulos.next_page_number}}" class="container-element-list-paginator__link">
                            Siguiente
                        </a>
                    {% else %}
                        <a href="?page={{articulos.next_page_number}}" class="container-element-list-paginator__link">
                            Siguiente
                        </a>
                    {% endif %}
                {% else %}
                        <a href="#" class="container-element-list-paginator__link container-element-list-paginator__link--deactivate">
                            Siguiente
                        </a>
                {% endif %}
                </li>
            </ul>
    </article>
{% endif %}