{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Nueva publicacion</title>
{% endblock %}

{% block content %}
<main class="main main-mis-publicaciones">
    <section>
        <h2>Nueva publicacion</h2>
        <form method="POST" action="{% url 'Users:new-article' %}" enctype="multipart/form-data" class="container-form-mis-publicaciones">
            {% csrf_token %}

            <label class="container-label-mis-publicaciones">
                Nombre del articulo
                <span class="container-label-mis-publicaciones__span">*</span>
                {{form.name}}
                {% if form.name.errors %}
                    {{form.name.errors}}
                {% endif %}
            </label>

            <label class="container-label-mis-publicaciones">
                Imagen del articulo
                <span class="container-label-mis-publicaciones__span">*</span>
                {{form.image}}
                {% if form.image.errors %}
                    {{form.image.errors}}
                {% endif %}
            </label>

            <label class="container-label-mis-publicaciones">
                Categoria del articulo
                <span class="container-label-mis-publicaciones__span">*</span>
                {{form.category}}
                {% if form.category.errors %}
                    {{form.category.errors}}
                {% endif %}
            </label>

            <label class="container-label-mis-publicaciones">
                Descripcion del articulo
                <span class="container-label-mis-publicaciones__span">*</span>
                {{form.resume}}
                {% if form.resume.errors %}
                    {{form.resume.errors}}
                {% endif %}
            </label>

            <label class="container-label-mis-publicaciones">
                Contenido del articulo
                <span class="container-label-mis-publicaciones__span">*</span>
                {{form.content}}
                {% if form.content.errors %}
                    {{form.content.errors}}
                {% endif %}
            </label>

            <label class="container-label-mis-publicaciones">
                Estado
                <span class="container-label-mis-publicaciones__span">*</span>
                {{form.state}}
                {% if form.state.errors %}
                    {{form.state.errors}}
                {% endif %}
            </label>

            {{form.author}}

            <button class="container-form-mis-publicaciones__btn">
                Agregar nuevo articulo
            </button>
        </form>
    </section>

    {% include 'snippets/aside_contacto.html' %}
</main>
{% endblock %}