@use '../helpers/placeholders' as *;
@use '../helpers/mixins' as *;
@use '../config/config' as *;

.main-article-admin {
    @extend %main-forms;
}

.section-list-articles-admin,
.section-edit-articles-admin,
.section-new-article-admin {
    @extend %section-list-registers;

    &__title {
        font-size: $font-size-title-movil;
    }
}

.container-label-articles {
    @extend %label-form;

    &__input,
    &__select,
    &__textarea {
        @extend %input-form;
    }

    &__textarea {
        @extend %textarea-form;
    }

    &__file {
        @extend %label-form-file;
    }

    &__img {
        display: block;
        width: 200px;
        height: 150px;
        margin-top: 1em;
    }

    &__span {
        @extend %span-label-forms;
    }
}

.container-form-articles {
    &__btn {
        @extend %btn-form;
    }

    &__btn:hover {
        @extend %btn-form-hover;
    }
}

// Estilos tabla
.container-table-articles {
    @extend %table;
}

.container-thead-articles {
    @extend %height-row-table;

    &__column {
        @extend %border-table;

        @include media-query(800px) {
            width: calc(100% / 5);
        }
    }
}