@use '../helpers/placeholders' as *;

.container-label-articles {
    @extend %label-form-movil;

    &__input,
    &__select,
    &__textarea {
        @extend %input-form-movil;
    }

    &__textarea {
        @extend %textarea-form-movil;
    }

    &__file {
        @extend %label-form-file-movil;
    }

    &__img {
        display: block;
        width: 200px;
        height: 150px;
        margin-top: 1em;
    }
}

.container-form-articles {
    &__btn {
        @extend %btn-form-movil;
    }

    &__btn:hover {
        @extend %btn-form-movil-hover;
    }
}