@use '../helpers/placeholders' as *;
@use '../helpers/mixins' as *;
@use '../config/config' as *;

.main-edit-comment-admin {
    @extend %main-forms;
}

.section-list-articles-with-comments-admin,
.section-list-comments-by-article-admin,
.section-edit-comments-admin {
    @extend %section-list-registers;

    &__title {
        font-size: $font-size-title-movil;
    }

    @include media-query(1000px) {
        &__title {
            font-size: $font-size-title-tablet;
        }
    }

    @include media-query(1400px) {
        &__title {
            font-size: $font-size-title-desktop;
        }
    }
}

.container-label-edit-comment-admin {
    @extend %label-form;

    &__input,
    &__select,
    &__textarea {
        @extend %input-form;
    }

    &__textarea {
        @extend %textarea-form;
    }

    &__span {
        @extend %span-label-forms;
    }
}

.container-form-edit-comment-admin {
    &__btn {
        @extend %btn-form;
    }

    &__btn:hover {
        @extend %btn-form-hover;
    }
}

// Estilos tablas
.container-table-articles-with-comments,
.container-table-comments-by-article {
    @extend %table;
}

.container-thead-articles-with-comments,
.container-thead-comments-by-article {
    @extend %height-row-table;

    &__column {
        @extend %border-table;

        @include media-query(800px) {
            width: calc(100% / 5);
        }
    }
}