@use '../helpers/placeholders' as *;
@use '../helpers/mixins' as *;

.main-contact {
    @include media-query(600px) {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    @include media-query(1000px) {
        width: 460px;
    }
}

.container-label-contact {
    @extend %label-form-movil;

    &__span {
        font-size: 1.8rem;
        position: relative;
        top: .4em;
    }

    &__input,
    &__select,
    &__textarea {
        @extend %input-form-movil;
    }

    &__textarea {
        @extend %textarea-form-movil;
    }

    @include media-query(1000px) {

        &__input,
        &__select {
            height: 44px;
        }

        &__input {
            padding-left: 1.2em;
        }

        &__textarea {
            padding: 1.2em
        }
    }
}

.container-form-contact {
    margin-bottom: 1em;

    &__btn {
        @extend %btn-form-movil;
    }

    &__btn:hover {
        @extend %btn-form-movil-hover;
    }

    @include media-query(1000px) {

        &__btn {
            height: 44px;
        }
    }
}