@use '../helpers/placeholders' as *;
@use '../helpers/mixins' as *;
@use '../config/config' as *;

.main-mis-publicaciones {
    @extend %main-forms;
}

.section-my-articles {
    @extend %section-list-registers;

    &__title {
        font-size: $font-size-title-movil;
    }

    &__link {
        @extend %bottom-new-register;
    }

    @include media-query(1000px) {
        &__title {
            font-size: $font-size-title-tablet;
        }
    }

    @include media-query(1400px) {
        &__title {
            font-size: $font-size-title-desktop;
        }
    }
}

.container-label-mis-publicaciones {
    @extend %label-form;

    &__input,
    &__select,
    &__textarea {
        @extend %input-form;
    }

    &__textarea {
        @extend %textarea-form;
    }

    &__image {
        @extend %label-form-file;
    }

    &__span {
        @extend %span-label-forms;
    }
}

.container-form-mis-publicaciones {
    &__btn {
        @extend %btn-form;
    }

    &__btn:hover {
        @extend %btn-form-hover;
    }
}

// Estilos tabla
.container-table-my-articles {
    @extend %table;
}

.container-thead-my-articles {
    @extend %height-row-table;

    &__column {
        @extend %border-table;

        @include media-query(800px) {
            width: calc(100% / 5);
        }
    }
}