@use '../helpers/placeholders' as *;
@use '../helpers/mixins' as *;

.main-mis-publicaciones {
    @include media-query(600px) {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    @include media-query(1000px) {
        width: 460px;
    }
}

.container-label-mis-publicaciones {
    @extend %label-form-movil;

    &__input,
    &__select,
    &__textarea {
        @extend %input-form-movil;
    }

    &__textarea {
        @extend %textarea-form-movil;
    }

    &__image {
        @extend %label-form-file-movil;
    }

    &__span {
        font-size: 1.8rem;
        position: relative;
        top: .4em;
    }
}

.container-form-mis-publicaciones {
    &__btn {
        @extend %btn-form-movil;
    }

    &__btn:hover {
        @extend %btn-form-movil-hover;
    }

    @include media-query(1000px) {

        &__btn {
            height: 44px;
        }
    }
}