@use '../helpers/placeholders' as *;

.container-label-register {
    @extend %label-form-movil;

    &__input,
    &__select,
    &__textarea {
        @extend %input-form-movil;
    }

    &__textarea {
        @extend %textarea-form-movil;
    }

    &__image {
        @extend %label-form-file-movil;
    }

    &__span {
        font-size: 1.8rem;
        position: relative;
        top: .4em;
    }
}

.container-form-register {
    &__btn {
        @extend %btn-form-movil;
    }

    &__btn:hover {
        @extend %btn-form-movil-hover;
    }
}