@use '../helpers/placeholders' as *;
@use '../helpers/mixins' as *;
@use '../config/config' as *;

.main-users-admin {
    @extend %main-forms;
}

.section-list-users,
.section-new-user,
.section-edit-user {
    @extend %section-list-registers;

    &__title {
        font-size: $font-size-title-movil;
    }

    &__link {
        @extend %bottom-new-register;
    }

    @include media-query(1000px) {
        &__title {
            font-size: $font-size-title-tablet;
        }
    }

    @include media-query(1400px) {
        &__title {
            font-size: $font-size-title-desktop;
        }
    }
}

.container-label-users {
    @extend %label-form;

    &__input,
    &__select,
    &__textarea {
        @extend %input-form;
    }

    &__textarea {
        @extend %textarea-form;
    }

    &__image {
        @extend %label-form-file;
    }

    &__img {
        display: block;
        width: 100px;
        height: 100px;
        margin-top: 1em;
    }

    &__paragraph {
        font-style: italic;
    }

    &__span {
        @extend %span-label-forms;
    }
}

.container-form-users {

    &__btn {
        @extend %btn-form;
    }

    &__btn:hover {
        @extend %btn-form-hover;
    }
}

// Estilos de la tabla
.container-table-users {
    @extend %table;
}

.container-thead-users {
    @extend %height-row-table;

    &__column {
        @extend %border-table;

        @include media-query(800px) {
            width: calc(100% / 5);
        }
    }
}

.container-row-table {
    @extend %height-row-table;

    & a {
        color: inherit;
    }

    &:hover {
        @extend %row-table-hover;
    }
}

.container-column-table {
    @extend %border-table;
}