@use '../helpers/placeholders' as *;

.container-label-users {
    @extend %label-form-movil;

    &__input,
    &__select,
    &__textarea {
        @extend %input-form-movil;
    }

    &__textarea {
        @extend %textarea-form-movil;
    }

    &__image {
        @extend %label-form-file-movil;
    }

    &__img {
        display: block;
        width: 100px;
        height: 100px;
        margin-top: 1em;
    }

    &__paragraph {
        font-style: italic;
    }
}

.container-form-users {

    &__btn {
        @extend %btn-form-movil;
    }

    &__btn:hover {
        @extend %btn-form-movil-hover;
    }
}