@use '../mixins/mixins.scss' as *;

.container-label-articles {
    @include label-formulario();

    &__input,
    &__select,
    &__textarea {
        @include input-formulario();
    }

    &__textarea {
        @include textarea();
    }

    &__file {
        @include label-file-formulario();
    }

    &__img {
        display: block;
        width: 200px;
        height: 150px;
        margin-top: 1em;
    }
}

.container-form-articles {
    &__btn {
        @include boton-formulario();
    }

    &__btn:hover {
        @include boton-formulario-hover();
    }
}