@use '../mixins/mixins.scss' as Mixin;

.container-label-contact {
    display: block;
    margin-bottom: 1em;
    font-size: .9rem;

    &__span {
        font-size: 1.8rem;
        position: relative;
        top: .4em;
    }
}

.container-form-contact {
    margin-bottom: 1em;

    &__btn {
        @include Mixin.boton-formulario();
    }

    &__input,
    &__textarea {
        @include Mixin.input-formulario();
    }

    &__textarea {
        @include Mixin.textarea();
    }
}