@use '../mixins/mixins.scss' as *;
@use '../base/base.scss' as *;

.container-section-404 {
    width: 100vw;
    height: 100vh;
    @include flex($flex-direction: column, $justify-content: center, $align-items: center);
    padding: 1em;
}

.container-section-404__title {
    color: $bg-color-header;
    font-size: 2.2rem;
}

.container-section-404__paragraph {
    margin-top: 0;
}

.container-section-404__link {
    display: block;
    @include boton-formulario($width: 80%, $font-size: 1rem, $margin-top: 1.6em);
    text-align: center;
    line-height: 40px;
}