@use '../mixins/mixins.scss' as *;
@use '../base/base.scss' as *;

.main {
    height: 80vh;
    @include flex(null, center, center);
}

.container-login {
    width: 100%;

    &__title {
        text-align: center;
        margin-bottom: 0;
    }
}

.container-form-login {
    &__input {
        @include input-formulario();
    }

    &__btn {
        @include boton-formulario();
    }
}

.container-links-login {
    width: 100%;
    font-size: .8rem;
    margin-top: .5em;
    @include flex(null, space-between);

    &__link {
        color: black;
    }
}

.container-form-login__btn:hover,
.container-links-login__link:hover {
    color: $font-color-hover;
}

.mensaje_error,
.mensaje_exito {
    margin-bottom: 0;
}