@use '../mixins/mixins.scss' as *;

.container-label-users {
    @include label-formulario();

    &__input,
    &__select,
    &__textarea {
        @include input-formulario();
    }

    &__textarea {
        @include textarea();
    }

    &__image {
        @include label-file-formulario();
    }

    &__img {
        display: block;
        width: 100px;
        height: 100px;
        margin-top: 1em;
    }

    &__paragraph {
        font-style: italic;
    }
}

.container-form-users {
    &__btn {
        @include boton-formulario();
    }

    &__btn:hover {
        @include boton-formulario-hover();
    }

}