{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Gestionar usuarios</title>
{% endblock %}

{% block content %}
<main class="main">

    <section class="section-list-users">
        <h2 class="section-list-users__title">
            Gestionar usuarios
        </h2>

        {% include 'snippets/mensajes.html' %}

        <a href="{% url 'Admin:new-user' %}">Agregar nuevo usuario</a>

        {% include 'admin/snippets/busqueda.html' %}

        <table class="container-table-users">
            <thead>
                <tr class="container-thead-users">
                    <th class="container-thead-users__column">#</th>
                    <th class="container-thead-users__column">Nombre</th>
                    <th class="container-thead-users__column">Correo</th>
                    <th class="container-thead-users__column">Estado</th>
                    <th class="container-thead-users__column">Rol</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr class="container-row-table">
                    <td class="container-column-table">
                        <a href="{% url 'Admin:edit-user' usuario.slug %}">{{forloop.counter}}</a>
                    </td>
                    <td class="container-column-table">
                        <a href="{% url 'Users:author' usuario.slug %}">
                            {{usuario.get_full_name}}
                        </a>
                    </td>
                    <td class="container-column-table">
                        {{usuario}}
                    </td>
                    <td class="container-column-table">
                        {{usuario.state}}
                    </td>
                    <td class="container-column-table">
                        {{usuario.groups.first}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}