{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Gestionar usuarios</title>
{% endblock %}

{% block content %}
<main class="main">

    <section>
        <h2>Gestionar usuarios</h2>

        {% include 'snippets/mensajes.html' %}

        <a href="{% url 'Admin:new-user' %}">Agregar nuevo usuario</a>

        {% include 'admin/snippets/busqueda.html' %}

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Estado</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>
                        <a href="{% url 'Admin:edit-user' usuario.slug %}">{{forloop.counter}}</a>
                    </td>
                    <td>
                        <a href="{% url 'Users:author' usuario.slug %}">
                            {{usuario.get_full_name}}
                        </a>
                    </td>
                    <td>{{usuario}}</td>
                    <td>{{usuario.state}}</td>
                    <td>{{usuario.groups.first}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}