{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Crear usuario</title>
{% endblock %}

{% block content %}
<main class="main main-users-admin">

    <section>
        <h2>Crear usuario</h2>

        <form method="post" enctype="multipart/form-data" class="container-form-users">
            {% csrf_token %}

            <label class="container-label-users">
                Nombres <span class="container-label-users__span">*</span>
                {{form.first_name}}
                {% if form.first_name.errors %}
                {{form.first_name.errors}}
                {% endif %}
            </label>

            <label class="container-label-users">
                Apellidos <span class="container-label-users__span">*</span>
                {{form.last_name}}
                {% if form.last_name.errors %}
                {{form.last_name.errors}}
                {% endif %}
            </label>

            <label class="container-label-users">
                Genero <span class="container-label-users__span">*</span>
                {{form.gender}}
                {% if form.gender.errors %}
                {{form.gender.errors}}
                {% endif %}
            </label>

            <label class="container-label-users">
                Foto de perfil
                {{form.image}}
                {% if form.image.errors %}
                {{form.image.errors}}
                {% endif %}
            </label>

            <label class="container-label-users">
                Ciudad <span class="container-label-users__span">*</span>
                {{form.city}}
                {% if form.city.errors %}
                {{form.city.errors}}
                {% endif %}
            </label>

            <label class="container-label-users">
                Biografia <span class="container-label-users__span">*</span>
                {{form.biography}}
                {% if form.biography.errors %}
                {{form.biography.errors}}
                {% endif %}
            </label>

            <label class="container-label-users">
                Linkedin
                {{form.linkedin}}
                {% if form.linkedin.errors %}
                {{form.linkedin.errors}}
                {% endif %}
            </label>

            <label class="container-label-users">
                Twitter
                {{form.twitter}}
                {% if form.twitter.errors %}
                {{form.twitter.errors}}
                {% endif %}
            </label>

            <label class="container-label-users">
                Correo <span class="container-label-users__span">*</span>
                {{form.email}}
                {% if form.email.errors %}
                {{form.email.errors}}
                {% endif %}
            </label>

            <label class="container-label-users">
                Contraseña <span class="container-label-users__span">*</span>
                {{form.password}}
                {% if form.password.errors %}
                {{form.password.errors}}
                {% endif %}
            </label>

            <label class="container-label-users">
                Rol <span class="container-label-users__span">*</span>
                {{form.groups}}
                {% if form.groups.errors %}
                {{form.groups.errors}}
                {% endif %}
            </label>

            <label class="container-label-users">
                Estado <span class="container-label-users__span">*</span>
                {{form.state}}
                {% if form.state.errors %}
                {{form.state.errors}}
                {% endif %}
            </label>

            <button class="container-form-users__btn">
                Crear nuevo usuario
            </button>
        </form>
    </section>
</main>
{% endblock %}