{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Gestionar ciudades</title>
{% endblock %}

{% block content %}
<main class="main">
    <section class="section-list-cities-admin">
        <h2 class="section-list-cities-admin__title">Gestionar ciudades</h2>

        {% include 'snippets/mensajes.html' %}

        <a href="{% url 'Admin:new-city' %}">Agregar nueva ciudad</a>

        {% include 'admin/snippets/busqueda.html' %}

        <table class="container-table-cities">
            <thead>
                <tr class="container-thead-cities">
                    <th class="container-thead-cities__column">
                        #
                    </th>
                    <th class="container-thead-cities__column">
                        Nombre
                    </th>
                    <th class="container-thead-cities__column">
                        Codigo postal
                    </th>
                    <th class="container-thead-cities__column">
                        Estado
                    </th>
                    <th class="container-thead-cities__column">
                        Fecha de modificacion
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for ciudad in ciudades %}
                <tr class="container-row-table">
                    <td class="container-column-table"> 
                        <a href="{% url 'Admin:edit-city' ciudad.id_city %}">
                            {{forloop.counter}}
                        </a>
                    </td>
                    <td class="container-column-table">
                        {{ciudad}}
                    </td>
                    <td class="container-column-table">
                        {{ciudad.zip_code}}
                    </td>
                    <td class="container-column-table">
                        {{ciudad.state}}
                    </td>
                    <td class="container-column-table"> 
                        {{ciudad.modified | date:"j F Y"}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}