{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Gestionar articulos</title>
{% endblock %}

{% block content %}
<main class="main">
    <h2>Gestionar articulos</h2>

    <a href="#">Agregar nuevo articulo</a>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Autor</th>
                <th>Activo</th>
                <th>Fecha de publicacion</th>
            </tr>
        </thead>
        <tbody>
            {% for articulo in articulos %}
            <tr>
                <td>
                    <a href="#">{{forloop.counter}}</a>
                </td>
                <td>{{articulo}}</td>
                <td>{{articulo.author.get_short_name}}</td>
                <td>{{articulo.state}}</td>
                <td>{{articulo.create | date:"j F Y"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}