{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Gestionar categorias</title>
{% endblock %}

{% block content %}
<main class="main">
    <h2>Gestionar categorias</h2>

    <a href="#">Agregar nueva categoria</a>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Fecha de modificacion</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>
                    <a href="#">{{forloop.counter}}</a>
                </td>
                <td>{{categoria}}</td>
                <td>{{categoria.state}}</td>
                <td>{{categoria.modified | date:"j F Y"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}