{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Gestionar articulos</title>
{% endblock %}

{% block content %}
<main class="main">
    <h2>Gestionar articulos</h2>

    {% include 'snippets/mensajes.html' %}

    <a href="{% url 'Admin:new-article' %}">Agregar nuevo articulo</a>

    {% include 'admin/snippets/busqueda.html' %}

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Autor</th>
                <th>Estado</th>
                <th>Fecha de publicacion</th>
            </tr>
        </thead>
        <tbody>
            {% for articulo in articulos %}
            <tr>
                <td>
                    <a href="{% url 'Admin:edit-article' articulo.slug %}">
                        {{forloop.counter}}
                    </a>
                </td>
                <td>
                    <a href="{% url 'Blog:articulo' articulo.slug %}">
                        {{articulo}}
                    </a>
                </td>
                <td>{{articulo.author.get_short_name}}</td>
                <td>{{articulo.state}}</td>
                <td>{{articulo.create | date:"j F Y"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}