{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Nuevo articulo</title>
{% endblock %}

{% block content %}
<main class="main">
    <section>
        <h2>Nuevo articulo</h2>

        <form method="post" enctype="multipart/form-data" class="container-form-articles">
            {% csrf_token %}

            <label class="container-label-articles">
                Nombre del articulo <span>*</span>
                {{form.name}}
                {% if form.name.errors %}
                {{form.name.errors}}
                {% endif %}
            </label>

            <label class="container-label-articles">
                Descripcion del articulo <span>*</span>
                {{form.resume}}
                {% if form.resume.errors %}
                {{form.resume.errors}}
                {% endif %}
            </label>

            <label class="container-label-articles">
                Contenido del articulo <span>*</span>
                {{form.content}}
                {% if form.content.errors %}
                {{form.content.errors}}
                {% endif %}
            </label>

            <label class="container-label-articles">
                Autor del articulo <span>*</span>
                {{form.author}}
                {% if form.author.errors %}
                {{form.author.errors}}
                {% endif %}
            </label>

            <label class="container-label-articles">
                Categoria del articulo <span>*</span>
                {{form.category}}
                {% if form.category.errors %}
                {{form.category.errors}}
                {% endif %}
            </label>

            <label class="container-label-articles">
                Imagen del articulo <span>*</span>
                {{form.image}}
                {% if form.image.errors %}
                {{form.image.errors}}
                {% endif %}
            </label>

            <label class="container-label-articles">
                Estado del articulo <span>*</span>
                {{form.state}}
                {% if form.state.errors %}
                {{form.state.errors}}
                {% endif %}
            </label>

            <button class="container-form-articles__btn">
                Crear nuevo articulo
            </button>
        </form>
    </section>
</main>
{% endblock %}