{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://res.cloudinary.com/dpxek6oka/raw/upload/v1643485116/normalize_ej2ndq.css">
    <link rel="shortcut icon" href="https://res.cloudinary.com/dpxek6oka/image/upload/v1643933592/Proyecto%20django-blog/favicon_jjdf9m.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,700;1,300;1,600;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/media_queries/tablet.css' %}" media="(min-width: 700px)">
    <link rel="stylesheet" href="{% static 'css/media_queries/desktop.css' %}" media="(min-width: 1200px)">
    {% block head %} {% endblock %}
</head>
<body>
    <header class="main-header" id="header">
        <nav class="nav-main">
            <ul class="container-nav-main">
                <li class="container-element-nav">
                    <a href="{% url 'index' %}" class="container-nav-link">
                        <span class="container-nav-link__span">Django</span>| Blog
                    </a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class="container-element-nav">
                        <a href="#" class="container-nav-link">
                            <i class="far fa-user-circle fa-2x container-nav-link__icon" aria-hidden="true"></i>
                            {{request.user.first_name.split | first}}
                            {{request.user.last_name.split | first}}
                        </a>
                    </li>
                    {% else %}
                    <li class="container-element-nav">
                        <a href="{% url 'Users:login' %}" class="container-nav-link">Iniciar sesion</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        {% block imagen_header %} {% endblock %}
    </header>

    {% block content %} {% endblock %}

    <footer class="main-footer">
        <p class="main-footer__paragraph">&copy; Diseñado por Daniel Alfaro {% now "Y" %}</p>
        <a href="#header" class="container-footer-link">
            <i class="fas fa-chevron-up container-footer-link__icon" aria-hidden="true"></i>
        </a>
    </footer>
</body>
</html>