{% extends 'base.html' %}

{% block head %}
    <title>Inicio</title>
{% endblock %}

{% block content %}
    <main class="main-index">
        <h2>Articulos</h2>
        {% for articulo in articulos %}
            <h3>Titulo: {{articulo.name}}</h3>
            <img src="{{articulo.image.url}}" width="300">
            <p><strong>Autor: </strong>
                {{articulo.author.first_name}} {{articulo.author.last_name}}
            </p>
            <p><strong>Fecha: </strong>{{articulo.modified}}</p>
            <p><strong>Descripcion del articulo: </strong>{{articulo.resume}}</p>
            <p><strong>Contenido: </strong>{{articulo.content}}</p>
        {% endfor %}
    </main>
{% endblock %}