{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Inicio</title>
{% endblock %}

{% block imagen_header %}
    {% include 'snippets/imagen_header.html' with titulo='Django | Blog' %}
{% endblock %}

{% block content %}
    <main class="main main-index">

        <section class="container-left-index">
            <h2 class="container-left-index__title">Articulos</h2>
            {% if messages %}
                {% for mensaje in messages %}
                    <p class="mensaje_error">
                        <i class="fas fa-exclamation-circle mensaje_error__icon"></i>
                        {{mensaje}}
                    </p>
                {% endfor %}
            {% endif %}

            {% for articulo in articulos %}
                {% include 'snippets/articulo.html' %}
            {% empty %}
                <p>Lo siento, por ahora no hay articulos :(</p>
            {% endfor %}
        </section>

        <section class="container-categories">
            {% include 'snippets/categorias.html' %}

            {% include 'snippets/formulario_busqueda_articulos.html' %}
        </section>
    </main>
{% endblock %}