{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Inicio</title>
{% endblock %}

{% block imagen_header %}
    {% include 'snippets/imagen_header.html' with titulo='Django | Blog' %}
{% endblock %}

{% block content %}
    <main class="main main-index">

        <section class="container-left-index">
            <h2 class="container-left-index__title">Articulos</h2>

            {% include 'snippets/mensajes.html' %}

            {% for articulo in articulos %}
                {% include 'snippets/articulo.html' %}
            {% empty %}
                <p>Lo siento, por ahora no hay articulos :(</p>
            {% endfor %}
            

            {% include 'snippets/paginacion_articulos.html' %}
        </section>

        <section class="container-categories">
            {% include 'snippets/categorias.html' %}

            {% include 'snippets/formulario_busqueda_articulos.html' %}
        </section>

        {% include 'snippets/aside_contacto.html' %}
    </main>
{% endblock %}