$font: 'Raleway', sans-serif;
$bg-color-header: #0C3C26;
$font-color-hover: lime;
$bg-color-input-form: rgba(231, 224, 224, 0.454);

// Variables de los mensajes
$font-color-error: #842029;
$bg-color-error: #f8d7da;
$border-color-error: #f5c2c7;

$font-color-success: #0f5132;
$bg-color-success: #d1e7dd;
$border-color-success: #badbcc;