{% extends 'base.html' %}

{% block head %}
    <title>{{categoria.name}}</title>
{% endblock %}

{% block imagen_header %}
    {% include 'snippets/imagen_header.html' with titulo=categoria.name %}
{% endblock %}

{% block content %}
    <main class="main main-index">
        <section class="container-left-index">
            <h2 class="container-left-index__title">Articulos</h2>
            {% if messages %}
                {% for mensaje in messages %}
                    <p class="mensaje_error">{{mensaje}}</p>
                {% endfor %}
            {% endif %}

            {% for articulo in articulos %}
                {% include 'snippets/articulo.html' %}
            {% empty %}
                <p>No hay articulos relacionados con esta categoria :(</p>
            {% endfor %}
        </section>
    
        <section class="container-categories">
            {% include 'snippets/categorias.html' %}

            {% include 'snippets/formulario_busqueda_articulos.html' %}
        </section>
    </main>
{% endblock %}