@use '../helpers/mixins' as *;
@use '../config/config' as *;

/* ------------------------ESTILOS DEL HEADER------------------------ */
.nav-main {
    width: 100%;
    height: 70px;
    background-color: $bg-color-header;
    position: fixed;
    top: 0;
    z-index: 500;
}

.container-nav-main {
    @include flex(null, space-around, center);
    width: 100vw;
    height: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
}

.container-nav-link {
    @include flex(null, center, center);
    color: white;
    font-size: 1rem;
    position: relative;

    &__icon {
        margin-right: .3em;
    }

    &__span {
        color: $font-color-hover;
        margin-right: .3em;
    }

    &__img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: .6em;
        background-color: white;
    }

    &__icon {
        margin-left: .4em;
        cursor: pointer;
    }

    @include media_query(1000px) {
        font-size: 1.2rem;
    }
}

.container-nav-options-user-account {
    display: none;
    width: 195px;
    position: absolute;
    list-style: none;
    background-color: white;
    top: 55px;
    border-radius: .4em;
    text-align: center;
    padding: 0;
    font-size: .9rem;
    right: .5em;
    overflow: hidden;

    &--show {
        display: block;
    }
}

.container-element-options-user-account {
    height: 40px;
    line-height: 40px;

    &__link {
        color: black;
    }

    &:hover {
        background-color: $row-table-hover;
    }
}

.container-img-header {
    @include flex(column, center, center);
    width: 100%;
    height: 250px;
    position: relative;
    text-align: center;

    &__paragraph {
        font-size: 1.5rem;
        color: white;
        font-weight: 800;
    }
}

.container-picture-header {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    &__img {
        width: 100%;
        height: 100%;
    }
}